text {
  font-family: Helvetica, Arial, sans-serif;
}

:root {
  --modal-width: 600px;
  --line-color: rgb(206, 87, 59);
  --scrollButtonColor: rgb(120, 45, 40);
}

/////// Intro Section ////////

#intro-section {
  min-height: 80vh;
}

#nameSection {
  height: 10vh;
  background-color: rgb(105, 123, 127);
  padding: 1.2vw 3vw .3vw;
  overflow-y: visible;
  color: white;
}

#nameSection h1 {
  width: max-content;
  font-size: 6vw;
  letter-spacing: 1vw;
  font-weight: bold;
}

#nameSection h2 {
  cursor: context-menu;
  font-size: 1.8vw;
  letter-spacing: 0.5vw;
}

@keyframes move-text {
  0% { bottom: -0.2em; opacity: 1; }
  50% { bottom: 0.2em; }
  100% { bottom: 0; opacity: 1; }
}

.careerLink span{
  opacity: 0;
  animation: move-text .8s forwards;
}

.careerLink:hover {
  color: rgb(206, 87, 59);
}

#nameSection p {
  max-width: 80vw;
  font-size: 15px;
}

#intro-image-container {
  height: 90vh;
  box-shadow: inset 0 30vh 20vh -8vh rgb(105, 123, 127);
  background-image: url("../../Style/Images/southwest-road.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

///// Me Section ///////

#lookAtMe {
  margin: 20px auto;
  background-image: url('../../Style/Images/me.jpg');
}

.circleImg {
  margin: auto;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-size: 100% 100%;
}

///// Career Section /////////

.career-row {
  visibility: hidden;
  max-width: 93vw;
  padding: 6vh 3vw;
  margin: 20px;
  font-size: 15px;
  border: 1px solid #f1f1f1;
  background-color: #ffffff;
  border-radius: 12px;
  width: max-content;
  box-shadow: inset 1px 1px 1px -0.5px hsla(0,0%,100%,.7), 3px 3px 7px -3px rgba(0,0,0,.1);
}

.career-row h1, h2, p {
  width: 100%;
}

.career-row h1 {
  font-size: 3vw;
  letter-spacing: .5vw;
  font-weight: 900;
}

.career-row h2 {
  font-size: 2vw;
  letter-spacing: 0.5vw;
}

.career-row p {
  padding-top: 10px;
  max-width: 625px;
  width: 100%;
}

#navBar {
  border-bottom: 1px solid black;
}

#lookAtMe {
  visibility: hidden;
}

#softwareSection {
  z-index: 2;
}

#engineeringSection{
  width: 60%;
  margin-left: 10px;
}

#engProjects {
  width: 38%;
  text-align: center;
  display: flex;
  padding-bottom: 10vh;
  flex-direction: column;
  justify-content: space-between;
}

#engProjects div {
  letter-spacing: .2vw;
  cursor: pointer;
}

#engProjects div:hover {
  color: rgb(236, 178, 154)
}

#artistSection {
  text-align: center;
}

#artistSection p {
  margin: auto;
  max-width: 95vw;
}

#softwareSkills{
  padding: 6vh;
  width: 28%;
  display: grid; 
  margin-left: 10px
}

#softwareSkills span {
  letter-spacing: .2vw;
}

.skillLevel {
  background-color: white;
  width: 40%;
  margin-top: 12px;
  height: 5px;
  border-radius: 5px;
  float: right;
}

.skillLevel div {
  background-color: var(--line-color);
  height: 100%;
}

.dotWrapper {
  height: 55px; 
  float: left; 
  position: absolute
}

.dot {
  height: 20px; 
  width: 20px; 
  position: absolute; 
  top: 30%; 
  border-radius: 50%; 
  background-color: var(--line-color);
}

.line {
  background-color: var(--line-color);
  width: 5px;
  height: 0;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 7px;
}

/////// Art Section ////////

.image-text {
  background-size: 50% 80%;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#art-text{
  background-image: url("../../Style/Images/art-text-background.jpg");
}

#artworkSection {
  height: 2000px;
}

@mixin white-gradient {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

#slider {
  background: white;
  box-shadow: inset 0 -10px 20px -5px rgba(0, 0, 0, .125), inset 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 180px;
  margin: auto;
  position: relative;
  width: 75%;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 180px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
}

.scrollArtButton {
  width: 50px; 
  color: white;
  position: absolute;
  height: 50px;
  border-radius: 50%;
  background-color: var(--scrollButtonColor);
  opacity: 0.6;
  top: 35%;
  border: none;
  z-index: 3;
  outline: none
}

.scrollArtButton:hover {
  opacity: .85;
}

#slide-track {
  position: relative;
  left: -200px;
  display: flex;
  width: calc(25vw * 6);
}

.slide {
  height: 150px;
  width: 150px;
  margin: 15px 25px;
}

.slideImg {
  height: 150px;
  width: 150px;
}

.slide:hover{
  transform: translateY(-8px);
}

////// Art Modal ////////

#artModal {
  display: none; 
  position: fixed; 
  z-index: 4;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: max-content;
}

.modal-content {
  display: block;
  margin: auto;
  width: var(--modal-width);
}

#modalSlider {
  height: max-content;
  margin: auto;
  position: relative;
  width: 100%;
}

#modal-slide-track {
  position: relative;
  left: - var(--modal-width);
  display: flex;
  width: (25vw * 6);
}

.modalSlide {
  height: 600px;
  width: var(--modal-width);
}

.modalImg {
  height: 600px;
  width: var(--modal-width);
}

#scrollModalLeft {
  left: -60px;
  outline: none;
  top: 45%
}

#scrollModalRight {
  right: -60px;
  outline: none;
  top: 45%
}

#closeArt {
  width: 35px;
  color: white;
  position: absolute;
  height: 35px;
  border-radius: 50%;
  background-color: #1b1e21;
  opacity: 0.6;
  top: -20px;
  right: -20px;
  z-index: 4;
  font-size: 30px;
  line-height: 27px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#closeArt:hover {
  opacity: 0.7;
}

///////  Leader ////////

#leaderSection {
  width:90vw;
  margin: auto;
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row
}

.leaderRole {
  width: 30%;
  min-width: 350px;
  margin: 0 auto;
}

.leaderRole h1 {
  margin: 8px auto;
  width: max-content;
  max-width: 250px;
  text-align: center;
  font-size: 2vw;
  letter-spacing: 0.7vw;
  font-weight: bold;
}

.leaderRole h2 {
  margin: 5px auto;
  width: max-content;
  text-align: center;
  cursor: context-menu;
  font-size: 1.8vw;
  letter-spacing: 0.5vw;
}

.leaderRole p {
  text-align: center;
  width: 80%;
  margin: 13px auto;
}

#buccPic {
  background-image: url("../../Style/Images/bucc.jpg");
}

#barkPic {
  background-size: 150% 100%;
  background-position: 30%;
  background-image: url("../../Style/Images/bark.jpg");
}

#mcPic {
  background-size: 150% 150%;
  background-position: 50% 35%;
  background-image: url("../../Style/Images/mcPic.jpg");;
}