@{
    ViewData["Title"] = "About";
}

<meta name=”viewport” content=”width=device-width, initial-scale=1″>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Style/CSS/Main.css">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/site.js"></script>
</head>
<body>
<div>
      hey it works
</div>
</body>
</html>