@{
    ViewData["Title"] = "Contact";
}

<meta name=”viewport” content=”width=device-width, initial-scale=1″>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Style/CSS/Main.css">
        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="js/site.js"></script>
</head>
<body>
<div>
    <div>
        <h1>Lets get crackin</h1>
    </div>
    
    <div>
        <fieldset>
            <label for="clientName">Name</label><input type="text" maxlength="100" id="clientName"/>
            <label for="clientAddress">Address</label><input type="text" maxlength="100" id="clientAddress"/>
            <label for="clientSubject">Subject</label><input type="text" maxlength="100" id="clientSubject"/>
            <label for="clientMessage">Message</label><input type="text" maxlength="100" id="clientMessage"/>
            <input type="submit" value="Send!" onclick="SendMail()" />
        </fieldset>
    </div>
</div>
</body>
</html>