@{
    ViewData["Title"] = "Contact";
}

<meta name=”viewport” content=”width=device-width, initial-scale=1″>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Style/CSS/Main.css">
    @* <script src="lib/jquery/dist/jquery.min.js"></script> *@
    @* <script src="js/site.js"></script> *@
    
    <style>
    
        .contactIcon {
            height: 2vw;
            width: 2vw;
            transform: translateX(-1vw);
        }
       
        
        #linkedIn:hover {
            cursor: pointer;
        }
       
        
        #lookAtMe {
            width: 20vw;    
            height: 20vw; 
            border-radius: 50%; 
        }
        
        #emailFieldsetWrapper {
            display: flex;
            justify-content: space-around;
            height: max-content;
            margin-top: 10vh
        }
        
        #emailFieldset {
            display: flex;
            flex-direction: column;
            width: max-content;
            overflow: visible;
            padding: 30px 60px 30px 60px;
            transform: translateX(-40px);
            border: 1px solid #f1f1f1;
            background-color: #ffffffb9;
            border-radius: 12px;
            box-shadow: inset 1px 1px 1px -0.5px hsla(0,0%,100%,.7), 3px 3px 7px -3px rgba(0,0,0,.1);              
        }
        
        #emailFieldset div {
            margin: 12px 0;
            
        }
        
        #emailFieldset label {
            font-weight: bold;
            width: 25%;
        }
        
        #emailFieldset .clientInput, textarea {
            border: 1px solid #00000061;
            border-radius: 3px;
            width: 65%;
            min-width: 220px;
            margin: 10px 0;
            padding: 3px 3px;
        }
        
        .clientInput:focus, textarea:focus {
            outline: none !important;
            border: 1px solid blue;
            box-shadow: inset 0 0 3px #719ECE;
        }
        
        #emailFieldset textarea {
            width: 400px !important;
            height: 200px;
            max-width: 100%;
        }
        
        #sendEmail {
            border: 1px solid #00000061;
            border-radius: 5px;
            padding: 8px 15px;
            text-align: center;
            width: 100%;
            font-weight: bold;
            font-size: 15px;
            margin: 12px auto 0;
            cursor: pointer;
            background-color: #007bff;
            color: white;
        }  
        
        #getInTouchWrapper {
            border: none;
            margin-top: 9.5%;
            z-index: 3;
            position: relative;
            height: 335px;
            width: 40vw;
            background-color: #456d4cb9;
            border-radius: 12px;
            color: white;
            box-shadow: inset 1px 1px 1px -0.5px hsla(0,0%,100%,.7), 3px 3px 7px -3px rgba(0,0,0,.1);
        }
        
        #getInTouch {
            
            margin: 20px auto 50px;
            text-align: center;
        }
        
        #getInTouch p {
            width: 70%;
            margin: auto;
        }
        
        #contactInfo {
            font-size: 1.8vw;
            letter-spacing: .18vw;
            display: flex; 
            flex-direction: column; 
            line-height: 60px; 
            justify-content: space-around; 
            width: max-content; 
            margin: auto;
        }
        
        body {
            background-image: url("../../Style/Images/tree-tops.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            overflow: hidden;
        }
        
    </style>
    
</head>
<body>
<div id="navbar">
    <div style="width: 100%; height: 100%; background-color: #1b1e21; opacity: .5">
        <div id="navs">
            <a asp-area="" asp-controller="Home" asp-action="Index" onsubmit="fadeOutPage()" >HOME</a>
            <a asp-area="" asp-controller="Home" asp-action="About" onsubmit="fadeOutPage()">ABOUT</a>
            <a asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a>
        </div>
    </div>
</div>


<div id="getInTouch">
                <h1>LET'S GET IN TOUCH</h1>
                <p>I know it's scary to make the first move, but I'm worth it (-; </p>
            </div>

<div style=" max-width: 1000px; width: 90vw; margin: auto">
       
    
    <div id="emailFieldsetWrapper">
        <div id="getInTouchWrapper">
            <div style="transform: translateY(-10vw)">
                <div style="width: max-content; margin: auto">
                    <img id="lookAtMe" src="../../Style/Images/me.jpg"/>
                </div>


                <div id="contactInfo">
                    <span><img class="contactIcon" src="../../Style/Images/email-icon.png"/>youngisa12@gmail.com</span>
                    <span style="transform: translateX(-1vw)"><img class="contactIcon" style="width: 3vw; height: 3vw; transform: translateX(-0.5vw)" src="../../Style/Images/phone-icon.png" />(830)-370-7101</span>
                    <span id="linkedIn"><img class="contactIcon" title="Click to be directed to my linkedIn profile" src="../../Style/Images/linkedin-icon.png"/>linkedIn</span>
                </div>
            </div>
        </div>
            
        <fieldset id="emailFieldset">
            <div><input style="margin-top: 0" class="clientInput" placeholder="Name" type="text" maxlength="100" id="clientName"/></div>
            <div><input class="clientInput" placeholder="Email" type="text" maxlength="100" id="clientAddress"/></div>
            <div><textarea placeholder="Message" class="clientInput" type="text" id="clientMessage"></textarea></div>
            <input id="sendEmail" type="submit" value="Send!" onclick="SendMail()"/>
        </fieldset>
    </div>
        
</div>

</body>
</html>