@{
    ViewData["Title"] = "Contact";
}

<meta name=”viewport” content=”width=device-width, initial-scale=1″>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Style/CSS/Main.css">
    @* <script src="lib/jquery/dist/jquery.min.js"></script> *@
    @* <script src="js/site.js"></script> *@
    
    <style>
    
        #headerContent{
            display: flex; 
            justify-content: space-around; 
            font-size: 2vw; 
            height: 15vh; 
            line-height: 17vh;  
            color: white;
            width: 80%;
            margin: auto;
        }
      
                  
        #linkedIn{
            height: 4vw;
            width: 4vw;
            cursor: pointer;
        }
        
        #linkedIn:hover {
            transform: scale(1.1);
        }
        
        #emailFieldset {
            display: flex;
            flex-direction: column;
            width: max-content;
            overflow: visible;
            padding: 20px;
            border: 1px solid #f1f1f1;
            background-color: #ffffff;
            border-radius: 12px;
            box-shadow: inset 1px 1px 1px -0.5px hsla(0,0%,100%,.7), 3px 3px 7px -3px rgba(0,0,0,.1);
               
        }
        
        #emailFieldset div {
            margin: 12px 0;
            
        }
        
        #emailFieldset label {
            font-weight: bold;
            width: 25%;
        }
        
        #emailFieldset .clientInput, textarea {
            border: 1px solid #00000061;
            border-radius: 3px;
            width: 65%;
            margin: 10px 0;
            padding: 3px 3px;
        }
        
        .clientInput:focus, textarea:focus {
            outline: none !important;
            border: 1px solid blue;
            box-shadow: inset 0 0 3px #719ECE;
        }
        
        #emailFieldset textarea {
            width: 400px !important;
            height: 200px;
            max-width: 100%;
        }
        
        #sendEmail {
            border: 1px solid #00000061;
            border-radius: 5px;
            padding: 8px 15px;
            text-align: center;
            width: 100%;
            font-weight: bold;
            font-size: 15px;
            margin: 12px auto 0;
            cursor: pointer;
            background-color: green;
            color: white;
        }  
        
        #getInTouch {
            margin-top: 30px;
        }
        
        #getInTouch p {
            width: 70%;
            margin: auto;
        }
        
    </style>
    
</head>
<body style="background-color: rgb(109, 126, 127); overflow: hidden">
<div id="navbar">
    <div style="width: 100%; height: 100%; background-color: #1b1e21; opacity: .5">
        <div id="navs">
            <a asp-area="" asp-controller="Home" asp-action="Index" onsubmit="fadeOutPage()" >HOME</a>
            <a asp-area="" asp-controller="Home" asp-action="About" onsubmit="fadeOutPage()">ABOUT</a>
            <a asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a>
        </div>
    </div>
</div>

<div id="headerContent">
    <span>youngisa12@gmail.com</span>
    <span style="letter-spacing: .5vw;">(830)-370-7101</span>
    <span><img id="linkedIn" title="Click to be directed to my linkedIn profile" src="../../Style/Images/linkedIn.png"/></span>
</div>

<div style="height: max-content; background-color: #fafafa; ">
    
    <div style="display: flex; justify-content: space-around; padding: 40px 0; max-width: 1000px; flex-direction: row; width: 90vw; margin: auto">
        <div style="width: max-content; text-align: center">
            <img style="width: 20vw; height: 20vw; border-radius: 50%;" src="../../Style/Images/me.jpg"/>
            <div id="getInTouch">
                <h1>LET'S GET <br/> IN TOUCH</h1>
                <p>I know it's scary to make the first move, but I'm worth it (-; </p>
            </div>
        </div>
    
        <fieldset id="emailFieldset">
            <div><input style="margin-top: 0" class="clientInput" placeholder="Name" type="text" maxlength="100" id="clientName"/></div>
            <div><input class="clientInput" placeholder="Email" type="text" maxlength="100" id="clientAddress"/>
                <span style="color: red; font-weight: bold; position: absolute; font-size: x-large; margin: 3px">*</span></div>
            <div><textarea placeholder="Message" class="clientInput" type="text" id="clientMessage"></textarea></div>
            <input id="sendEmail" type="submit" value="Send!" onclick="SendMail()"/>
        </fieldset>
    </div>

</div>
</body>
</html>