@{
    ViewData["Title"] = "Isaiah Young";
}
@model List<ArtGallery>

<meta name=”viewport” content=”width=device-width, initial-scale=1″>

<head>
    <link rel="stylesheet" type="text/css" href="~/Style/CSS/Main.css">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/site.js"></script>
</head>

<body style="background-color: #fafafa;">
<div id="intro-section">
    <div id="nameSection">
        <h1>ISAIAH YOUNG</h1>
        <h2>
            <span class="careerLink" style="animation-delay: 1s" onclick="scrollToElement('software-development')">FULL STACK DEVELOPER</span> |
            <span class="careerLink" style="animation-delay: 1.2s" onclick="scrollToElement('engineering')">ENGINEER</span> | 
            <span class="careerLink" style="animation-delay: 1.4s" onclick="scrollToElement('art')">ARTIST</span>
        </h2>
        <p>
            IThe oldest classical Greek and Latin writing had little or no space between words and could be written in
            boustrophedon (alternating directions). Over time, text direction (left to right) became standardized, and
            word dividers and terminal punctuation became common. The first way to divide sentences into groups was the
            original parágraphos, similar to an underscore at the beginning of the new grou
        </p>
    </div>
    <div id="intro-image-container"></div>
</div>


<div>
    <div id="lookAtMe" class="circleImg"></div>

    <div style="width: 95vw; margin: auto; display: flex">
        <div class="career-row" id="softwareSection" style="width: 68%">
            <div>
                <h1 id="software-development">SOFTWARE DEVELOPER</h1>
                <h2>ENERGY SYSTEMS LABORATORY, TEXAS A&M</h2>
                <div style="">
                    <div>
                        <p>The Lab focuses on energy-related research, energy efficiency, and emissions reduction. Working
                            here requires not only an ability to code but a working knowledge of mechanical engineering.
                            As a software developer at the ESL, I take great care in crafting efficient, readable code
                            that gives as much to our users as it does to my fellow developers. Being a part of the ESL
                            software team means:
                        </p>
                    </div>
                    <div>
                        <p class="bullet">&#8226; Learning to write full stack code for data analysis and visualization</p>
                        <p class="bullet">&#8226; Developing front-end, user-oriented interfaces</p>
                        <p class="bullet">&#8226; Debuging, maintaining, and improving self-documenting legacy code</p>
                        <p class="bullet">&#8226; Collaborating with a team of engineers to design unit-test software</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="career-row" id="softwareSkills">
            <h2 style="text-align: center">SKILLS</h2>
            <div>
                <span>C#</span>
                <div class="skillLevel">
                    <div style="width: 90%"></div>
                </div>
            </div>
            <div>
                <span>JavaScript</span>
                <div class="skillLevel">
                    <div style="width: 70%"></div>
                </div>
            </div>
            <div>
               <span>HTML5</span>
                <div class="skillLevel">
                    <div style="width: 100%"></div>
                </div>
            </div>
            <div>
                <span>CSS3</span>
                <div class="skillLevel">
                    <div style="width: 100%"></div>
                </div>
            </div>
            <div>
                <span>jQuery</span>
                <div class="skillLevel">
                    <div style="width: 40%"></div>
                </div>
            </div>
            <div>
               <span>Python</span>
                <div class="skillLevel">
                    <div style="width: 20%"></div>
                </div>
            </div>
            <div>
                <span>SQL Database</span>
                <div class="skillLevel">
                    <div style="width: 10%"></div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div style="width: 95vw; margin: auto; display: flex">
        <div class="career-row" id="engProjects">
            <h2>PROJECTS</h2>
            <div id="biaxialLink">BIAXIAL TENSILE TESTER</div>
            <div id="solarLink">SOLAR HEATED OVEN</div>
            <div style="margin-bottom: 0" id="marbleLink">MARBLE SORTER</div>
        </div>

        <div class="career-row" id="engineeringSection">
            <div>
                <h1 id="engineering">MECHANICAL ENGINEER</h1>
                <h2>TEXAS A&M UNIVERSITY</h2>
                <p>As a software developer at the ESL, I take great care in crafting efficient, readable code
                    that gives as much to our users as it does to my fellow developers. Writing clean code means..</p>
                <p class="bullet">&#8226; test</p>
                <p>By the way, I designed and coded this very page without a template!</p>
            </div>
        </div>
    </div>
    

    <div class="career-row" id="artistSection">
        <div>
            <div class="image-text" id="art-text">
                <h1 id="art">ARTIST</h1>
            </div>
            <p>As a software developer at the ESL, I take great care in crafting efficient, readable code
                that gives as much to our users as it does to my fellow developers. Writing clean code means..</p>
        </div>
    
        <div id="slider">
            <button style="left: -10%;" id="scrollArtLeft" class="scrollArtButton">&#60;</button>
            <button style="right: -10%;" id="scrollArtRight" class="scrollArtButton">&#62;</button>
            <div style="overflow: hidden">
                <div id="slide-track">
                
                    @foreach (var piece in Model)
                    {
                        <div id="@piece.Name" class="slide" onclick="showArtModal(this.id)">
                            <img class="slideImg" src="@piece.Directory" alt=""/>
                        </div>
                    
                    }
                    <div class="slide">
                        <img class="slideImg" src="../Style/Images/code.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div style="background-color: #ffffff; margin-top: 5vh; padding: 5vh">
        <div id="leaderSection">
            <div class="leaderRole">
                <div id="buccPic" class="circleImg"></div>
                <h1>BUCC BIG EVENT</h1>
                <h2>President | Project ID</h2>
                <p>
                    Lab focuses on energy-related research, energy efficiency, and emissions reduction. Working
                    here requires not only an ability to code but a working knowledge of mechanical engineering.
                    As a softw
                </p>
            </div>
            <div class="leaderRole">
                <div id="barkPic" class="circleImg"></div>
                <h1>BARK IN THE PARK</h1>
                <H2>Co-founder | Executive</h2>
                <p>
                    Lab focuses on energy-related research, energy efficiency, and emissions reduction. Working
                    here requires not only an ability to code but a working knowledge of mechanical engineering.
                    As a softw
                </p>
            </div>
            <div class="leaderRole">
                <div id="mcPic" class="circleImg"></div>
                <h1>McDONALDs</h1>
                <H2>Manager</h2>
                <p>
                    Lab focuses on energy-related research, energy efficiency, and emissions reduction. Working
                    here requires not only an ability to code but a working knowledge of mechanical engineering.
                    As a softw
                </p>
            </div>

        </div>
    </div>

    <div class="career-row" id="wrapUpSection">
       
        <div>
            <h1>THE FULL PACKAGE</h1>
            <p>WHAT UP BOIIII</p>
        </div>
    </div>

    <div class="career-row" id="contactSection">
        <div class="dotWrapper">
            <div class="dot"></div>
            <div class="line" id="contactLine"></div>
        </div>
        <div style="padding-left: 40px">
            <h1>CONTACT</h1>
            <P>youngisa12@gmail.com</p>
            <p>(830) - 370 - 7101</p>
        </div>
    
    </div>
</div>





<div id="artModal" class="modal">
        <div class="modal-content">
            <span id="closeArt">&times;</span>
            <div id="modalSlider">
                <button id="scrollModalLeft" class="scrollArtButton">&#60;</button>
                <button id="scrollModalRight" class="scrollArtButton">&#62;</button>
                <div style="overflow: hidden">
                    <div id="modal-slide-track">
                        @foreach (var piece in Model)
                        {
                            <div id=@piece.Name class="modalSlide">
                                <img class="modalImg" src="@piece.Directory" alt=""/>
                            </div>
                        }
                        <div class="modalSlide">
                            <img class="modalImg" src="../Style/Images/code.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
(function(){
    autoScrollArt();
    setTimeout(arguments.callee, 2000);
})();
</script>
</body>

